:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/*NAVIGATION BAR SECTION*/
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 130px;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
    z-index: 3;
}
.nav-bar ul{
    list-style: none;
}
.first-row{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100vw;
    background: white;
}
.second-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: start;
    height: 60px;
    width: 660px;
    margin-top: 70px;
    margin-left: 160px;
}
/*FIRST ROW SECTION*/
.logo-image{
    width: 92px;
    height: 30px;
    padding-left: 18px;
    padding-right: 45px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    margin: 0;
    padding: 0;
    border-radius: 24px;
    width: 690px;
    height: 45px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    align-items: center;
}
.search-bar ul{
    display: flex;
    justify-content: space-around;
    padding-right: 13px;
    padding-left: 0px;
    align-items: center;
}
.search-bar li{
    margin-left: 15px;
}
.search-bar.material-icons{
    font-size: 24px;
}
.search-bar-end{
    margin-left: auto;
    padding: 0 30px;
}
input[type=search]{
    border-color: transparent;
    background-color: transparent;
    color: rgba(0,0,0,87%);
    outline: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 590px;
    height: 35px;
    font-size: 16px;
}
input[type=search]::-webkit-search-cancel-button{
    position: relative;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
}
.Bar{
    border-left: 1px solid #dfe1e5;
    height: 65%;
    width: 1px;
}
.apps-account{
    display: flex;
}
.apps-account li{
    padding: 4px;
}
.apps-account i{
    font-size: 24px;
}
.apps-account a{
    text-decoration: none;
    color: #202124;
}
@media screen and (max-width: 1200px) {
    .apps-account {
        display: none;
    }
}
/*END FIST ROW SECTION*/
/*SECOND ROW SECTION*/
.second-row ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    align-items: center;
}
.second-row li{
    display: flex;
    padding: 16px 12px 12px 10px;
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    color: #70757a;
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.second-row a{
    display: flex;
}
.second-row i{
    margin-right: 3px;
    font-size: 16px;
}
.second-row span{
    align-items: center;
    margin-bottom: 5px;
}
ul.search-type li:active{
    border-bottom: 3px solid #1a73e8;
    color: #1a73e8;
}
div.settings-tools {
    margin-left: auto;
}
.settings-tools a{
    padding: 5px;
}
.settings-tools a:hover{
    border: 1px solid #dfe1e5;
}
/*END SECOND ROW SECTION*/
/*END NAVIGATION BAR*/
/*START SEARCH RESULTS SECTION*/
.results-section {
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    font-family: arial,sans-serif;
    font-size: 14px;
    width: 665px;
}
.results-number {
    display: flex;
    color: #70757a;   
}
/*START RESULTS CARD*/
.results-card{
    margin-top: 26px;
}
.results-card span {
    color: #70757a;
}
.results-card i{
    color: #70757a;
    height: 14px;
    align-items: center;
}
.results-card a{
    font-size: 22px;
    font-weight: normal;
    color: #1a0dab;
    line-height: 1.182;
    margin: 3px 0;
    text-decoration: none;
}
.results-card a:hover{
    text-decoration: underline;
}
.results-card p{
    margin: 0;
    color: #70757a;
}
#url{
    padding-bottom: 4px;
}
#desc{
    padding-top: 5px;
}
.results-card#first{
    margin-top: 10px;
}
/*END RESULTS CARD*/
/*PEOPLE ALSO ASK*/
.people-also-ask{
    margin-top: 25px;
}
.people-also-ask h1{
    font-family: 'Open Sans',arial,sans-serif;
    display: block;
    color: #202124;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    line-height: 1.182;
    margin: 0%;
    padding-bottom: 12px;
}
.also-ask-table{
    display: block;
}
.question{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ecedef;
    cursor: pointer;
    color: #202124;
    font-size: 18px;
    font-family: arial,sans-serif;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.question i{
    margin-left: auto;
    font-size: 24px;
}
.question#last{
    border-bottom: 1px solid #ecedef;
}
/*PEOPLE ALSO SEARCH*/
.people-also-search{
    margin-top: 25px;
}
.people-also-search h1{
    font-family: 'Open Sans',arial,sans-serif;
    display: block;
    color: #202124;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    line-height: 1.182;
    margin: 0%;
    padding-bottom: 12px;
}
.also-search-table{
    display: block;
}
.also-search{
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #ecedef;
    cursor: pointer;
    color: #202124;
    font-size: 18px;
    font-family: arial,sans-serif;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 24px;
    letter-spacing: 0.2px;
    align-items: center;
}
.also-search i{
    font-size: 24px;
}
#related{
    font-size: 40px;
    padding-right: 10px;
    color: cornflowerblue;
}
.also-search i:last-child{
    margin-left: auto;
}
.also-search#last{
    border-bottom: 1px solid #ecedef;
    margin-bottom: 20px;
}
/*SEARCHES RELATED TO*/
.related-section-container h3{
    text-align: left;
    color: #202124;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.182;
    padding-bottom: 2px;
}
.related-section{
    display: flex;
    justify-content: flex-start;
    margin: 0%;
}
.related-list{
    margin: 0 50px 10px 0;
    padding: 0;
    list-style: none;
}
.related-list li{
    margin-top: -1px;
    padding-bottom: 4px;
}
.related-list a{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 32px 3px 0;
    text-decoration: none;
    color: #1a0dab;
}
/*GOOOOOGLE SECTION*/
.pager {
    margin: 30px auto;
    border-collapse: collapse;
}
tr {
    vertical-align: top;
}
.pager-td {
    padding: 0;
    text-align: center;
}
.pager-td a {
    color: #4285f4;
}
.pager-td a:hover {
    text-decoration: underline;
}
.pager-G {
    display: block;
    background: url(https://mooniidev.github.io/google-search-results-page/images/google-pager.webp) no-repeat;
    background-position: -24px 0;
    width: 28px;
    height: 40px;
  }
  .pager-red-o {
    display: block;
    background: url(https://mooniidev.github.io/google-search-results-page/images/google-pager.webp) no-repeat;
    background-position: -53px 0;
    width: 20px;
    height: 40px;
  }
  .pager-yellow-o {
    display: block;
    background: url(https://mooniidev.github.io/google-search-results-page/images/google-pager.webp) no-repeat;
    background-position: -74px 0;
    width: 20px;
    height: 40px;
  }
  .pager-gle {
    display: block;
    background: url(https://mooniidev.github.io/google-search-results-page/images/google-pager.webp) no-repeat;
    background-position: -96px 0;
    width: 71px;
    height: 40px;
  }
  .pager-next {
    margin-left: 53px;
  }
  /*FOOTER SECTION*/
footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    margin: 0;
    width: 100%;
    margin-left: 0;
    background: #f2f2f2;
    min-width: 1200px;
    border-top: 1px solid #dadce0;
    font-size: 14px;
}
footer ul{
    display: flex;
    list-style: none;
    margin: 0%;
    align-items: center;
}
/*First row of FOOTER*/
.location{
    display: flex;
    flex-direction: row;
    margin: 0%;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54);
    padding-left: 140px;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
}
.area{
    color: #3c4043;
    border-left: 1px solid #dadce0;
    margin-left: 13px;
    padding-left: 16px;
    padding-right: 3px;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #202124;
    border-radius: 100%;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    display: inline-block;
}
/*Second row of FOOTER*/
.terms{
    display: flex;
    flex-direction: row;
    color: rgba(0,0,0,.54);
    padding-left: 140px;
    align-items: center;
    height: 40px;
}
.terms li{
    padding-right: 27px;
}
.terms a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
.terms a:hover{
    color: #202124;
}
