:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/*NAVIGATION BAR SECTION*/
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 120px;
    margin: 0;
    padding: 0;
}
.nav-bar ul{
    list-style: none;
}
.first-row{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100vw;
}
.second-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: start;
    height: 50px;
    width: 660px;
    margin-top: 70px;
    margin-left: 169px;
}
/*FIRST ROW SECTION*/
.logo-image{
    width: 92px;
    height: 30px;
    padding-left: 18px;
    padding-right: 45px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    margin: 0;
    padding: 0;
    border-radius: 24px;
    width: 690px;
    height: 45px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    align-items: center;
}
.search-bar ul{
    display: flex;
    justify-content: space-around;
    padding-right: 13px;
    padding-left: 0px;
    align-items: center;
}
.search-bar li{
    margin-left: 15px;
}
.search-bar-end{
    margin-left: auto;
    padding: 0 30px;
}
input[type=search]{
    border-color: transparent;
    background-color: transparent;
    color: rgba(0,0,0,87%);
    outline: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 590px;
    height: 35px;
    font-size: 16px;
}
input[type=search]::-webkit-search-cancel-button{
    position: relative;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    align-items: center;
}
.Bar{
    border-left: 1px solid #dfe1e5;
    height: 65%;
    width: 1px;
}
.apps-account{
    display: flex;
}
.apps-account li{
    padding: 4px;
}
@media screen and (max-width: 1200px) {
    .apps-account {
        display: none;
    }
}
/*END FIST ROW SECTION*/
/*SECOND ROW SECTION*/
.second-row ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    align-items: center;
}
.second-row li{
    display: flex;
    padding: 16px 12px 12px 10px;
    height: 16px;
    line-height: 16px;
    margin: 11px 1px 0;
    color: #70757a;
    font-size: 13px;
    text-align: center;
    align-items: center;
}
.second-row a{
    display: flex;
}
.second-row i{
    margin-right: 3px;
}
.second-row span{
    align-items: center;
    margin-bottom: 5px;
}
ul.search-type li:active{
    border-bottom: 3px solid #1a73e8;
    color: #1a73e8;
}
div.settings-tools {
    margin-left: auto;
}
